
  .profile-container {
    display: flex;
    background-color: #f8f9fa;
    min-height: 100vh;
  
  
  /* Profile Section */
  .profile-section {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .profile-card {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .profile-img-wrapper {
    display: flex;
    text-align: center;
    transition: all 0.3s ease;
  }
  .profile-img-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .profile-img-wrapper svg {
    position: relative;
    top: 15%;
    right: 10%;
    transform: translate(-50%, 0);
    height: 50%;
    width: 50%;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease;
  }
  .profile-img-wrapper svg:hover {
    transition: all 0.3s ease;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 50%;
  }

  .profile-avatar-input {
    display: none;
  }
  
  .profile-pic {
    position: relative;
    left: 20%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    transition: all 0.3s ease;
  }

  .profile-pic:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }
  
  .profile-description {
    margin: 15px 0;
    font-size: 12px;
  }
  
  .stats {
    list-style: none;
    padding: 0;
  }
  
  .stats li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 0;
    font-size: 14px;
    color: #333;
  }
  
  .stats li span {
    font-weight: 600;
  }
  
  .fa-download,
  .fa-share {
    color: #333;
    font-size: 14px;
  }
  
  /* User Info Form */
  .user-info {
    flex-grow: 1;
    margin-left: 30px;
  }
  
  .tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    cursor: auto;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .tab.active {
    background-color: #f1720a;
    color: #fff;
  }
  
  .tab:hover {
    background-color: #f1720a;
    color: #fff;
  }
  
  /* Profile Form */
  .profile-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Add Skill Button */
  .add-skill {
    padding: 8px;
    background-color: #675dfb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s; /* Transition effect */
  }
  
  .add-skill:hover {
    background-color: #463cff;
    transform: scale(1.05); /* Same scale effect on hover */
  }
  .add-skill:active {
    transform: scale(0.95); /* Same scale effect on click */
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items:center;

    li {
      margin-top: 10px;
      background-color: #f0f0f0;
      padding: 10px 15px;
      border-radius: 20px;
      font-size: 18px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease;
    }
    li:hover{
      background-color: #f1720a;
      color: white;
    }
  }
}